@import './bet-section-styles.css';
@import './wallet-button.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

/* @font-face {
  font-family: "PP Supply Mono";
  src: url("/fonts/PPSupplyMono-Regular.woff2") format("woff2"),
    url("/fonts/PPSupplyMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 7s linear infinite;
}

.wallet-adapter-button {
  width: 100% !important;
  font-family: 'PP Supply Mono', monospace !important;
  font-weight: 500 !important;
  text-align: center !important;
  justify-content: center !important;
  font-size: 0.875rem !important;
}

.wallet-adapter-button-trigger {
  width: 90% !important;
}

/* Medium screens and up */
@media (min-width: 768px) {
  .wallet-adapter-button {
    font-size: 1rem !important;
    font-family: 'PP Supply Mono', monospace !important;
  }
}

.wallet-adapter-button-wrapper {
  margin: 0 !important;
}

.custom-wallet-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: rgba(24, 24, 24, 0.64) !important;
  width: auto !important;
  min-height: 36px !important;
  height: 36px !important;
}

.custom-wallet-button:hover {
  background: rgba(24, 24, 24, 0.75) !important;
  border-color: rgb(15 23 42) !important; /* slate-900 */
}

.wallet-adapter-dropdown {
  width: 100%;
}

/* For the dropdown menu items */
.wallet-adapter-dropdown-list {
  font-family: 'PP Supply Mono', monospace !important;
}

.wallet-adapter-dropdown-list-item {
  font-family: 'PP Supply Mono', monospace !important;
  font-weight: 500 !important;
}

/* For modal if you're using it */
/* .wallet-adapter-modal-wrapper {
    font-family: "Trap", sans-serif !important;
}

.wallet-adapter-modal-title {
    font-family: "Trap", sans-serif !important;
    font-weight: 700 !important;
}

.wallet-adapter-modal-button-close {
    font-family: "Trap", sans-serif !important;
} */

/* buy button css  */
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 15px theme('colors.purple.600'),
      0 0 30px theme('colors.blue.500');
  }
  50% {
    box-shadow: 0 0 25px theme('colors.purple.600'),
      0 0 40px theme('colors.blue.500');
  }
}

.glow-button {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

/* .glow-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    theme("colors.purple.600"),
    theme("colors.blue.500"),
    theme("colors.purple.600")
  );
  opacity: 0.85;
  background-size: 200% 100%;
  animation: gradient-x 3s linear infinite;
} */

.glow-button:hover {
  transform: scale(1.02);
  animation: glow 1.5s ease-in-out infinite;
}
.custom-scrollbar {
  max-height: 200px;
  overflow-y: scroll; /* Scrollbar her zaman görünsün */
  overflow-x: auto; /* Yalnızca yatay kaydırma */
}

/* Webkit tarayıcıları için özelleştirme */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar'ın genişliği */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6c924a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Track (arka plan) rengini belirleyin */
}
