/* Base wallet button */
.wallet-adapter-button-trigger {
  /* Base styles */
  all: unset !important;
  min-width: 143px !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  /* Styles from default variant */
  text-transform: uppercase !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  border: 1px solid #a0c380 !important;
  color: white !important;
  background-color: #171717 !important;
  padding: 7px 16px !important;

  /* Hover styles */
  transition: all 0.3s ease-in-out !important;
  &:hover {
    border-color: #78ff00 !important;
    background-color: #a0c380 !important;
    color: black !important;
  }

  /* Active styles */
  &:active {
    background-color: #8db170 !important;
    color: black !important;
    border-color: #8db170 !important;
  }

  /* Disabled styles */
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
  }
}

.wallet-adapter-dropdown-list {
  background-color: #171717 !important;
  border: 1px solid #a0c380 !important;
  z-index: 999999 !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-modal-wrapper {
  background-color: #171717 !important;
  border: 1px solid #a0c380 !important;
  z-index: 999999 !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  text-transform: uppercase !important;
  border-radius: 8px !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-modal-button-close {
  color: white !important;
  background-color: #171717 !important;
  transition: all 0.1s ease-in-out !important;
  border: 1px solid #a0c380 !important;
}

.wallet-adapter-modal-button-close:hover {
  background-color: #a0c380 !important;
  color: black !important;
}

.wallet-adapter-button {
  font-family: var(--font-akkurat-mono-ll) !important;
  text-transform: uppercase !important;
  transition: all 0.1s ease-in-out !important;
  background-color: #171717 !important;
  color: white !important;
  border: 1px solid #a0c380 !important;
}

.wallet-adapter-button:hover {
  background-color: #a0c380 !important;
  color: black !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-dropdown-list-active {
  background-color: #171717 !important;
  border: 1px solid #a0c380 !important;
  z-index: 999999 !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  text-transform: uppercase !important;
  border-radius: 8px !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-dropdown-list-item {
  color: white !important;
  transition: all 0.1s ease-in-out !important;
  background-color: transparent !important;
}

.wallet-adapter-dropdown-list-item:hover {
  background-color: #a0c380 !important;
  color: black !important;
}

@media (max-width: 768px) {
  .wallet-adapter-button-trigger {
    width: calc(100% - 32px) !important;
  }
}
